/* General CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

body {
  background: #ecf0f3;
  display: grid;
  place-items: center;
}

.shadow {
  box-shadow: 1rem 1rem 1rem #d3dae7, -1rem -1rem 1rem #fff;
}

.app-container {
  width: 800px;
  margin-top: 8rem;
  min-height: 430px;
  cursor: grab;
  border-radius: 1rem;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 10px;
}

.main .left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.score-content {
  padding: 1rem 1rem;
  margin-top: 10px;
  box-shadow: inset 1rem 1rem 1rem #d3dae7, inset -1rem -1rem 1rem #fff;
}

.score-item {
  padding: 2px 5px;
}

.score-item:nth-child(2n + 1) {
  background-color: #ccc;
}

.main .left .left-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main .right {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 20px;
}

.right-title {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.main .right input {
  border: 1px solid #4c5773;
  border-radius: 1rem;
  box-shadow: inset 1rem 1rem 1rem #d3dae7, inset -1rem -1rem 1rem #fff;
  padding: 5px;
  outline: none;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 4px 4px 2px #000;
}
